target/
**/*.rs.bk
.idea
*.iml
.vscode
docker/resources/deploy
docker/resources/envs/.env
node_modules
yarn.lock
e2e-tests/bin
lcov.info
benchmarking_errors.txt
.env
rpc-tests/node_modules
rpc-tests//reports
test-report-*.html
src/e2e-tests/services/zkVerify
src/e2e-tests/services/nh-attestation-bot
src/e2e-tests/services/zkv-attestation-contracts
src/proof-generator/fflonk/circuit/data
src/proof-generator/groth16/circuit/data
src/proof-generator/boojum/data
src/proof-generator/boojum/target
src/proof-generator/boojum/output.log
src/proof-generator/repos