target/
**/*.rs.bk
.idea
*.iml
.vscode
docker/resources/deploy
docker/resources/envs/.env
node_modules
yarn.lock
e2e-tests/bin
lcov.info
benchmarking_errors.txt
rpc-tests/node_modules
rpc-tests//reports
test-report-*.html
src/e2e-tests/services/zkVerify
src/e2e-tests/services/nh-attestation-bot
src/e2e-tests/services/zkv-attestation-contracts
src/e2e-tests/*.tar
src/proof-generator/fflonk/circuit/data
src/proof-generator/groth16/circuit/data
src/proof-generator/boojum/data
src/proof-generator/boojum/target
src/proof-generator/boojum/output.log
src/proof-generator/repos
src/proof-generator/risc0/.DS_Store
src/proof-generator/risc0/Cargo.lock
src/proof-generator/risc0/methods/guest/Cargo.lock
src/proof-generator/risc0/target
src/proof-generator/risc0/data
src/performance/input_data
src/performance/funded_accounts

# Prevent accidentally committing seedphrases
.env
.env.local.rpc
.env.testnet.rpc
.env.local.e2e